:root {
    --grid-rows: 16;
    --grid-columns: 16;
}

h1 {
    display: flex;
    justify-content: center;
    padding: 25px;
}

.maintitle {
    font-family: 'Palette Mosaic', cursive;
    font-size: 42px;
}

.sketchcont {
    display: grid;
    margin: auto;
    border: 1px solid;
    width: 80%;
    height: 500px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    background-color: white;
}

.sketchcell {
    display: inline-block;
    transition-duration: .5s;
    transition-timing-function: linear;
    color: white;
    border: .5px solid;
}

.sketchcell:hover {
    background-color: black;
}