:root {
    --grid-rows: 16;
    --grid-columns: 16;
}

h1 {
    display: flex;
    justify-content: center;

}

.maintitle {
    font-family: 'Palette Mosaic', cursive;
    font-size: 42px;
}

.sketchcont {
    display: grid;
    margin: auto;
    margin-top: 15px;
    border: .25px thin rgb(255, 69, 69);
    width: 600px;
    height: 600px;
    padding: 25x;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    background-color: white;
}

.sketchcell {
    display: grid;
    transition-duration: .5s;
    transition-timing-function: linear;
    color: white;
    
}

.white {
    color: white !important;
}

#settings {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    padding: 12px;
    
}

main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}
/*
.sketchcell:hover {
    background-color: black;
    transition-duration: .5s;
    transition-timing-function: ease-out;
}