:root {
    --grid-rows: 16;
    --grid-columns: 16;
}

h1 {
    display: flex;
    justify-content: center;
    padding: 25px;
}

.maintitle {
    font-family: 'Palette Mosaic', cursive;
    font-size: 42px;
}

.sketchcont {
    display: grid;
    margin: auto;
    border: .5px solid rgb(255, 69, 69);
    width: 600px;
    height: 600px;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    background-color: white;
}

.sketchcell {
    display: grid;
    transition-duration: .5s;
    transition-timing-function: linear;
    color: white;
}

.sketchcell:hover {
    background-color: black;
}